.table-container {
    width: 100%;
    max-width: 1200px; /* or whatever fits your design */
    margin: 0 auto;
    overflow-x: auto;
  }
  
  .MuiTable-root {
    table-layout: fixed;
    width: 100%;
  }
  
  .MuiTableCell-root {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .MuiTableCell-root:nth-child(1) { width: 10%; }
  .MuiTableCell-root:nth-child(2) { width: 20%; }
  .MuiTableCell-root:nth-child(3) { width: 20%; }
  .MuiTableCell-root:nth-child(4) { width: 20%; }
  .MuiTableCell-root:nth-child(5) { width: 10%; }


.expanded-content {
  border: none !important;
  padding: 16px 8px 16px 40px;
}

/* Remove top border from the row after the expanded row */
.expanded-row + tr > td {
  border-top: none !important;
}

/* Select all <td> cells in a row that is immediately before a row with the class expanded-row */
tr:has(+ .expanded-row) > td {
  border-bottom: none !important;
}

.table-container th {
  background: #247078;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
}

.table-container td {
  padding: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.table-container tr:nth-child(even) {
  background: #f8f9fa;
}

.table-container tr:hover {
  background: #e0e1dd;
  transition: background 0.2s;
}

.table-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(34, 34, 59, 0.09);
  padding: 2rem;
  overflow-x: auto;
}

.table-container table {
  min-width: 900px; /*minimum width for content to be visible*/
}

/* Responsive for mobile & Tablets */
@media only screen and (max-width: 1080px) {
  .table-container {
    padding: 0;
    width: unset;
  }

  .table-container td {
    padding: 0.4rem 0.6rem;
    border-bottom: 1px solid #f0f0f0;
  }

  .table-container th {
    padding: 0.4rem;
  }
}